<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.FitFlex.app"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitFlex"
        tools:targetApi="31">

        <!-- LoginActivity is launcher -->
        <activity
            android:name="com.FitFlex.app.activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.FitFlex">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name="com.FitFlex.app.activities.MainActivity" />
        <activity android:name="com.FitFlex.app.activities.SettingsActivity" />
        <activity android:name="com.FitFlex.app.activities.SuggestionActivity" />
        <activity android:name="com.FitFlex.app.activities.WorkoutPlanActivity" />
        <activity android:name=".activities.WorkoutSelectionActivity" />
        <activity android:name="com.FitFlex.app.activities.UpperBodyWorkoutActivity" />
        <activity android:name="com.FitFlex.app.activities.LowerBodyWorkoutActivity" />
        <activity android:name="com.FitFlex.app.activities.BackWorkoutActivity" />
        <activity android:name="com.FitFlex.app.activities.CoreWorkoutActivity" />

    </application>
</manifest>


